:root {
  --primary-dark: #222326;
  --secondary-dark: #222326;
  --grey: #373839;
  --darkest: #121213;
  --text: #FFF;
  --text-faded: #605F5F;
}

body, html {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  background: var(--secondary-dark);
  color: var(--text);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  user-select: none;
  font-family: 'Open Sans', sans-serif;

  overflow: hidden;
}

.container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 60px 0 0 0;
  box-sizing: border-box;
  z-index: 1;
}

.container > .shadow {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 997;
  transition: all 0.2s ease;
  cursor: pointer;

  pointer-events: none;
  background: rgba(13,13,13,0.0);
}

body.sidemenuActive > .container > .shadow {
  pointer-events: auto;
  background: rgba(13,13,13,0.8);
}

.container > .header {
  display: flex;
  position: absolute;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--primary-dark);
  box-sizing: border-box;

  justify-content: space-between;
  flex-direction: row;
  transition: all 0.2s ease;
}

body.sidemenuActive .container > .header {
  width: calc(100% - 250px);
  left: 250px;
}

.container > .header > .menuToggle {
  position: relative;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 60px;
  color: rgba(255,255,255,0.75);
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 23px;
}

.container > .header > .menuToggle:hover {
  color: rgba(255,255,255,1);
}

.container > .header > .title {
  position: relative;
  flex-grow: 1;
  height: 60px;
  box-sizing: border-box;
  color: #FFF;
  font-size: 18px;
  line-height: 60px;
  padding: 0 0 0 20px;
}

.container > .header > .threeDot {
  position: relative;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 60px;
  color: rgba(255,255,255,0.75);
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 23px;
}

.container > .header > .threeDot:hover {
  color: rgba(255,255,255,1);
}

.container > .search {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 10px 0;
  background: var(--darkest);
  box-sizing: border-box;
}

.container > .search > input[type=text] {
  display: block;
  position: relative;
  margin: 0 auto;
  height: 40px;
  width: 60%;
  border-radius: 2px;
  outline: none;
  border: none;
  padding: 0 10px;
  background: var(--grey);
  color: var(--text);
  font-size: 17px;
}

.container > .mediaPlayer {
  display: block;
  position: relative;
  width: 100%;
  height: calc(100vw - 120px);
  margin: 0;
  padding: 20px 0 0 0;
  box-sizing: border-box;
}

.container > .mediaPlayer > #bgvideo {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.container > .mediaPlayer::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  background: rgba(13,13,45,0.7);
}

.container > .mediaPlayer > .videoCard {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  overflow: hidden;
  z-index: 2;
  height: auto;
  width: 80%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: var(--primary-dark);
}

.container > .mediaPlayer > .videoCard > .thumbnail_blur {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 340px;
  background-position: center;
  background-size: cover;
  filter: blur(25px);
  overflow: hidden;
}

.container > .mediaPlayer > .videoCard > .thumbnail {
  display: block;
  pointer-events: none;
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
  margin: 0 20px 20px 0;
  float: left;
}

.container > .mediaPlayer > .videoCard > #player {
  display: none;
  margin: 0 auto;
  pointer-events: none;
}

.container > .controls {
  display: flex;
  position: fixed;
  width: 100%;
  height: 75px;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  background: var(--secondary-dark);
  z-index: 996;

  justify-content: space-between;
  flex-direction: row;
}

.container > .controls a.control-button {
  display: block;
  position: relative;
  color: var(--text);
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  height: 55px;
  width: 55px;
  line-height: 55px;
  border-radius: 50%;
  margin: 10px 7px;
  padding: 0;
}

.container > .controls a.control-button.background {
  background: #F44336;
}

.container > .controls > .right-controls, .container > .controls > .metainfo {
  position: relative;
  height: 75px;
  width: auto;
  margin: 0;
  padding: 0;
  flex-grow: 0;
  flex-shrink: 0;
  width: 30%;
}

.container > .controls > .right-controls > a {
  float: right;
  margin-left: 15px;
}

.container > .controls > .center-controls {
  display: flex;
  position: relative;
  height: 75px;
  width: auto;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}

.container > .controls > .metainfo > .albumart {
  display: block;
  position: relative;
  height: 75px;
  width: 75px;
  float: left;
  padding: 0;
  margin: 0 10px 0 0;
  background-size: cover;
  background-position: center;
  background-image: url(../media/defaultAlbum.png);
}

.container > .controls > .metainfo > .songinfo {
  display: flex;
  position: relative;
  height: 75px;
  width: auto;

  justify-content: space-around;
  flex-direction: column;
}

.container > .controls > .metainfo > .songinfo span {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  color: var(--text-faded);
}

.container > .controls > .metainfo > .songinfo span[data-info="title"] {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  color: var(--text);
}

.sidemenu {
  display: block;
  position: absolute;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  box-sizing: border-box;
  background: var(--primary-dark);

  transition: all 0.2s ease;
  z-index: 998;
}

body.sidemenuActive .sidemenu {
  left: 0;
}

.sidemenu > .header {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0 0 0 20px;
  margin: 0 0 10px 0;
  color: #FFF;
  box-sizing: border-box;
  font-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
