:root {
  --primary-dark: #152032;
  --secondary-dark: #35475B;
}

body, html {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  background: var(--secondary-dark);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  user-select: none;

  overflow: hidden;
}

.container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 120px 0 0 0;
  box-sizing: border-box;
}

body.sidemenuActive .container {
  left: 100vw;
}

.container > .header {
  display: block;
  position: fixed;
  height: 120px;
  width: 100%;
  background: var(--secondary-dark);
}

.sidemenu {
  display: block;
  position: absolute;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  box-sizing: border-box;
  background: var(--primary-dark);

  transition: all 0.2s ease;
  z-index: 998;
}

body.sidemenuActive .sidemenu {
  left: 0;
}
